#title {
	 font-family: 'Staatliches', cursive;
	 padding-top: 40px;
}

#titlesm {
	font-family: 'Staatliches', cursive;
}

#title1 {
	 font-family: 'Marvel', sans-serif;
}

#padding {
	padding-top: 20px;
}

#beforefooter {
	padding-top: 40px;
}

#padding {
	font-family: 'Staatliches', cursive;
	padding-top: 50px;
}